
<div class="container">
  <h2 class="title">Loan Records</h2>

  <div class="loans-table-list">
  <table class="loans-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Book Title</th>
        <th>Member Name</th>
        <th>Issue Date</th>
        <th>Due Date</th>
        <th>Return Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of displayLoanList();let i = index"  >
        <td>{{1+i}}</td>
        <td>{{item.title}}</td>
        <td>{{item.fullName}}</td>
        <td>{{item.issueDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{item.dueTime| date: 'yyyy-MM-dd'}}</td>
        <td>{{item.returnDate | date: 'yyyy-MM-dd'  }}</td>
        <td class="loan-btn">
          <button (click)="returnLoan(item.loanId)" *ngIf="!item.returnDate">Return</button>
          <button (click)="deleteLoan(item.loanId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>

