<div class="books-containers">
  <div class="books-con-left">
    <div class="con-left-top">
      <app-tool-bar (filterChange)="onFilterChanges($event)"></app-tool-bar>
    </div>

    <div class="con-left-bottom">
      <div class="books-list">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Category</th>
              <th>Published Date</th>
              <th>Available Copies</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of displayBookList() ">
              <td>{{ item.title }}</td>
              <td>{{ item.author }}</td>
              <td>{{ getCategoryName(item.categoryId) }}</td>
              <td>{{ item.publishDate | date}}</td>
              <td>
                {{ (item.availableCopies === 0)?"Out of
                Stack 😥":item.availableCopies }}
              </td>
              <td class="bookListBtn">
                <button
                  (click)="reserveBook(item.id)"
                  class="action-btn"
                  [ngClass]="{ 'out-of-stock': item.availableCopies === 0 }"
                  [disabled]="item.availableCopies === 0"
                  aria-label="Reserve Book"
                >
                  <mat-icon>shopping_cart</mat-icon>
                </button>

                <button
                  *ngIf="loginStatus && role === 'admin' "
                  (click)="updateBook(item.id)"
                  class="action-btn"
                  aria-label="Edit Book"
                >
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="pagination-container">
        <app-pagination
          [currentPage]="currentPage"
          [totalPageCount]="totalPageCount"
          (currentPageChange)="currentPageChange($event)"
        ></app-pagination>
      </div>
    </div>
  </div>

  <!-- form  -->
  <app-book-form
    *ngIf="loginStatus && role === 'admin'"
    [bookData]="bookData"
    (bookDataChange)="addBook($event)"
    [editBook]="editBook"
    [libraryList]="libraryList()"
    [categoryList]="categoryList()"
  >
  </app-book-form>
</div>

<div *ngIf="reserverPopup" class="popup-overlay">
  <div class="popup-content">
    <h2>Reserve a Book</h2>

    <form (ngSubmit)="handleReserve(reservForm)" #reservForm="ngForm">
      <label for="book">Select Book:</label>
      <select [(ngModel)]="newLoan.bookId" id="book" name="book" required>
        <option *ngFor="let item of availableBookList()" [value]="item.id">
          {{ item.title }}
        </option>
      </select>

      <div *ngIf="role === 'admin'">
        <label for="member">Select Member:</label>
        <select
          [(ngModel)]="newLoan.memberId"
          id="member"
          name="member"
          required
        >
          <option value="" disabled selected>Select a member</option>
          <option *ngFor="let item of memberList()" [value]="item.memberId">
            {{ item.fullName }}
          </option>
        </select>
      </div>

      <label for="due-date">Select Due date:</label>
      <input
        id="due-date"
        type="date"
        [(ngModel)]="newLoan.dueTime"
        name="dueDate"
        required
      />

      <div class="popup-actions">
        <button type="submit" [disabled]="reservForm.invalid ">Reserve</button>
        <button type="button" (click)="reserverPopup = false">Cancel</button>
      </div>
    </form>
  </div>
</div>
