
<div class="books-containers">
  <div class="books-con-left">
    <div class="con-left-top">
      <app-categories (categorySelected)="handleFilterBooks($event)"></app-categories>
    </div>
    <div class="con-left-top">
      <div class="books-tp">
      <h1>Books</h1>
      </div>
      <div class="books-list">
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Category</th>
              <th>Published Date</th>
              <th>Total Copies</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of filterBookList()">
              <td>{{ item.title | titlecase }}</td>
              <td>{{ item.author | titlecase }}</td>
              <td>{{ getCategoryName(item.categoryId)| titlecase }}</td>
              <td>{{ item.publishDate | date:'yyyy-MM-dd' }}</td>
              <td>{{ item.totalCopies }}</td>
              <td class="bookListBtn">
                <button (click)="reserveBook(item.id)">Get</button>
                <button (click)="updateBook(item.id)">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
  </div>
  <div class="books-con-right">
    <div class="books-tp">
      <h1>Add Book</h1>
    </div>
    <form (ngSubmit)="addBook(bookForm)"  #bookForm="ngForm">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required [(ngModel)]="newBook.title" />

      <label for="author">Author:</label>
      <input type="text" id="author" name="author" required [(ngModel)]="newBook.author" />

      <label for="category">Category:</label>
      <select [(ngModel)]="newBook.categoryId" id="category" class="category" name="category" required >
        <option value=""> All Categories</option>
        <option *ngFor="let itm of categoryList()" [value]="itm.categoryId">
          {{ itm.categoryName | titlecase  }}
        </option>
      </select>

      <label for="copies">Total Copies:</label>
      <input type="text" id="copies" name="copies" required [(ngModel)]="newBook.totalCopies" />

      <button type="submit" >{{ editBook ? 'Update' : 'Add' }}</button>
    </form>
  </div>
</div>

  
<div *ngIf="reserverPopup" class="popup-overlay">
  <div class="popup-content">
    <h2>Reserve a Book</h2>
    <form (ngSubmit)="handleReserve(reservForm)" #reservForm="ngForm">
      <label>Select Book:</label>
      <select [(ngModel)]="newLoan.bookId" name="book" required>
        <option *ngFor="let item of availableBookList()" [value]="item.id">
          {{ item.title }}
        </option>
      </select>

      <label>Select Member:</label>
      <select [(ngModel)]="newLoan.memberId" name="member" required>
        <option value="" disabled selected>Select a member</option>
        <option *ngFor="let item of memberList()" [value]="item.memberId">
          {{ item.fullName }}
        </option>
      </select>

      <label>Select Due date:</label>
      <input type="date" [(ngModel)]="newLoan.dueTime" name="dueDate" required />

      <div class="popup-actions">
        <button type="submit" [disabled]="reservForm.invalid">Reserve</button>
        <button type="button" (click)="reserverPopup = false">Cancel</button>
      </div>
    </form>
  </div>
</div>

