
.books-con-right {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
}

.books-tp h2{
    margin-bottom: 16px;
    font-size: 24px;
    border-bottom: 2px solid #0ea5e9;
    color: #0f172a;
}


.books-con-right form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.books-con-right label {
    font-weight: 500;
    color: #1e293b;
}

.books-con-right input {
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    outline: none;
    transition: border 0.3s;
}

.books-con-right input:focus {
    border-color: #0ea5e9;
    box-shadow: 0 0 0 2px rgba(14, 165, 233, 0.3);
}

.books-con-right button {
    padding: 12px;
    background-color: #0ea5e9;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.books-con-right button:hover {
    background-color: #0284c7;
}

.form-field {
  width: 100%;
  margin-bottom: 8px;
  font-size: 13px;
}


::ng-deep .mat-form-field-label {
  background-color: red !important;
}
