.pagination{
    display: flex;
    gap:10px;
}
.last-lay,
.front-lay{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: center;
}

.last,
.next,
.previous,
.begin{
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last:hover,
.next:hover,
.previous:hover,
.begin:hover{
    background-color: #cccc;
    cursor: pointer;
}

.pagecount-container{
    display: flex;
    gap: 10px;
}

.blocked{
   border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#cccc;
}

.blocked:hover{
    cursor: not-allowed;
}