

.app-container {
    width: 100%;
    height: 100vh;
}
.app-content{
    display: flex;
    width: 100%;
    flex:1;
    height: 80%;
}

.header{
    height: 10%;
}

.app-content :first-child{
    width: 15%;
    flex:1;
    align-items: center;
}

.main-content{
    width: 85%;
    padding: 20px;
    background-color: #f8fafc; /* light background */
}

.footer{

    height: 10%;
    background-color: #0f172a;
    color: #f8fafc;
    align-items: center;
    display: flex;
    justify-content: center;
    
}