

.app-container {
    width: 100%;
    height: 100vh;
    
}
.app-content{

    display: flex;
    width: 100%;
}

.app-headera{
    min-height: 9vh;
}

.app-content :first-child{
    width: 15%;
    display: flex;
    align-items: center;
}

.main-content{
    width: 85%;
    padding: 20px;
    background-color: #f8fafc; /* light background */
    min-height: 80vh;
}

.footer{
    min-height: 9vh;
    color:blue;
    background-color: rgb(255, 4, 4);
}