
.sidebar-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-container li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-container a {
    color: #cbd5e1; /* slate-300 */
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.1s ease;
    font-weight: 500;
}

.sidebar-container a:hover {
    background-color: #334155; /* slate-700 */
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.active-link {
    background-color: #0ea5e9; /* sky-500 */
    color: #ffffff !important;
}

.icon{
    display: flex;
    gap:10px;
    align-items: center;
}

.tailwind-isolated {
  all: initial;
  * {
    all: unset;
  }

  // Re-apply basic styles so Material Icons work
  font-family: 'Material Icons', sans-serif;
  display: block;
}
