<div class="sidebar-container" [ngClass]="{'collapse':toogleBar}">
  <ul>
    <li>
      <a routerLink="/books" routerLinkActive="active-link" class="icon">
        <mat-icon>menu_book</mat-icon>
        <div *ngIf="!toogleBar" >Books</div>
      </a>
    </li>
    <li>
      <a routerLink="/loans" routerLinkActive="active-link" class="icon">
        <mat-icon>assignment</mat-icon>
         <div *ngIf="!toogleBar" >Loans</div>
      </a>
    </li>
    <li>
      <a routerLink="/members" routerLinkActive="active-link" class="icon">
        <mat-icon>group</mat-icon>
         <div *ngIf="!toogleBar" >Members</div>
      </a>
    </li>
    <li>
      <a routerLink="/library" routerLinkActive="active-link" class="icon">
        <mat-icon>local_library</mat-icon>
         <div *ngIf="!toogleBar" >Create Library</div>
      </a>
    </li>
    <li>
      <a routerLink="/library-list" routerLinkActive="active-link" class="icon">
        <mat-icon>library_books</mat-icon>
         <div *ngIf="!toogleBar" >Library List</div>
      </a>
    </li>
     <li>
      <a routerLink="/form-builder" routerLinkActive="active-link" class="icon">
        <mat-icon>dynamic_form</mat-icon>
         <div *ngIf="!toogleBar" >Dynamic Form</div>
      </a>
    </li>
  </ul>
</div>