@import "tailwindcss";

body{
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cdk-drop-list-dragging:not(.element-menu){
    border: 2px solid !important;
    background-color: lightblue !important;
}